In [58]:
import pandas as pd
import requests
import datetime
from dotenv import load_dotenv
import os

In [34]:
api_key='74dca1969e05f4a5e3e90ce8fe5bf641'
base_url = 'https://api.stlouisfed.org/fred/series/observations'

In [35]:
cur_date = datetime.datetime.now().strftime('%Y-%m-%d')

In [56]:
def create_api_param(series_id, start_date, end_date, api_key):
    api_param = {
        'series_id': series_id,
        'observation_start': start_date,
        'observation_end': end_date,
        'file_type': 'json',
        'api_key': api_key
    }
    return api_param

def get_data(url, api_param):
    response = requests.get(url, params=api_param)
    if (response.status_code == 200):
        data = response.json()
    else:
        print(f"Error: {response.status_code}")
    return data

def convert_to_df(data):
    df = pd.json_normalize(data, 'observations')
    df = df[['date', 'value']]
    return df

In [57]:
param = create_api_param('DTWEXBGS', '2025-01-01', cur_date, api_key)
data = get_data(base_url, param)
df = convert_to_df(data)
df

          date     value
0   2025-01-01         .
1   2025-01-02  129.6666
2   2025-01-03  129.6721
3   2025-01-06  128.7878
4   2025-01-07  128.8574
..         ...       ...
73  2025-04-14  123.9908
74  2025-04-15  124.1129
75  2025-04-16  123.6167
76  2025-04-17  123.4733
77  2025-04-18  123.3365

[78 rows x 2 columns]